---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PokemonGrid from '../components/react/PokemonGrid';
import { getPokemonList } from '../services/pokeapi';

// Obtener los primeros 151 Pokémon (Gen 1)
const pokemon = await getPokemonList(1025);
---

<Layout title="Pokédex - Explora el Mundo Pokémon">
  <div class="relative flex h-auto min-h-screen w-full flex-col">
    <Header />
    <main class="flex h-full grow flex-col">
      <PokemonGrid client:load initialPokemon={pokemon} />
    </main>
  </div>
</Layout>